article h1{
    position: relative;
    left: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
}

hr{
    background-color: #ff8800;
    position: relative;
    bottom: px;
}


article{
    background-color: #f5f5f5;
    width: 70%;
    margin-top: 3em;
}

figcaption
{
    background-color: black;
    color: white;
    width: 150px;
    position: relative;
    bottom:22px;
}

div{
    position: relative;
    left: 5px;
}

.overimage
{
    position: relative;
    bottom: 173px;
}

div h2
{
    position: relative;
    bottom: 350px;
    left: 210px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

div p{
    position: relative;
    bottom: 350px;
    left: 210px;
}

.linkbutton
{
    position: relative;
    bottom: 350px;
    left:770px;
    font-size: small;
}

.linkbutton
{
    background-color: #ff8800;
    width: 340px;
    height: 340px;
    color: #f5f5f5;
}

.footer img{
    width: 90px;
    height: 90px;
}

.Florenc
{
    position: relative;
    bottom: 160px;
}

.inform figcaption{
    position: relative;
    bottom: 183px;
}

footer h2{
    position: relative;
    bottom: 1px;
    right: 43px;
}
footer{
    background-color: #474747;
    position: relative;
    right: 195px;
    bottom: 30px;
    margin-right: 1.5em;
    width: 86%;
    color: lightgray;
    height: 70%;
}

.footerSection h2{
    position: relative;
    bottom: 235px;
    right: 230px;   
}

.footerSection p{
    position: relative;
    right: 26px;
    bottom: 2px;
}
image footer
{
width: 50px;
}

.footersection p{
   position: relative;
   bottom: 2368px;
}